@page "/players"
@attribute [StreamRendering(enabled: true)]
@inject IPlayerService PlayerService

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-solid fa-user me-2"></i> @pageTitle</h1>

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        <p>@players.Count players registered.</p>

        <div>
            <a class="btn btn-secondary me-3 mb-3" href="/players/add"><i class="fa-solid fa-plus"></i> Add Player</a>
        </div>

        <table class="table striped-columns table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-lg-table-cell">Position</th>
                    <th scope="col" class="d-none d-lg-table-cell">Rate</th>
                    <th scope="col" class="d-none d-lg-table-cell">Admin Rating</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in players)
                {
                    <tr>
                        <td><a href="/players/@player.PlayerEntity.RowKey/player">@player.PlayerEntity.Name</a></td>
                        <td class="d-none d-lg-table-cell">@player.PlayerEntity.Position</td>
                        <td class="d-none d-lg-table-cell"><CurrencyDisplay @rendermode="RenderMode.InteractiveAuto" Amount="@player.PlayerEntity.DefaultRate" BlackText="true" /></td>
                        <td class="d-none d-lg-table-cell">@player.PlayerEntity.AdminRating</td>
                        <td><CurrencyDisplay @rendermode="RenderMode.InteractiveAuto" Amount="@player.Balance" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <h4>Access Denied!</h4>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Player> players = new();

        private string pageTitle;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        players = PlayerService.GetPlayers();
        pageTitle = "Players";
    }
}