@page "/games"
@inject IGameService GameService

<PageTitle>TNF - @pageTitle</PageTitle>

<h1>@pageTitle</h1>

<div>
    <a class="btn btn-secondary me-3 mb-3" href="/games/add"><i class="fa-solid fa-plus"></i> Add Game</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Forecast Players</th>
            <th scope="col">Actual Players</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td><a href="/games/@game.GameEntity.RowKey">@game.GameEntity.Date.Date.ToLongDateString()</a></td>
                <td>@game.PlayersAtGame.Count()</td>
                <td>@game.PlayersAtGame.Where(pag => pag.PlayerAtGameEntity.Played).Count()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Game> games = new();

        private string pageTitle;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        games = GameService.GetGames();
        pageTitle = "Games";
    }
}