@page "/games/{GameRowKey}/players"
@inject IPlayerService PlayerService
@inject IGameService GameService
@inject ITransactionService TransactionService
@inject NavigationManager Navigation

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-solid fa-people-group me-2"></i> @pageTitle</h1>

<p>@game.PlayersAtGame.Where(p => p.PlayerAtGameEntity.Forecast == PlayingOptions.Yes.ToString()).Count() yes, @game.PlayersAtGame.Where(p => p.PlayerAtGameEntity.Forecast == PlayingOptions.Maybe.ToString()).Count() maybe, @game.PlayersAtGame.Where(p => p.PlayerAtGameEntity.Played == true).Count() actual</p>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" >
            <span class="d-md-none"><i class="fa-solid fa-users-viewfinder"></i></span>
            <span class="d-none d-md-block">Players</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" @onclick="SwitchTabTeamsheet">
            <span class="d-md-none"><i class="fa-solid fa-people-group"></i></span>
            <span class="d-none d-md-block">Teamsheet</span>
        </a>
    </li>    
    <li class="nav-item">
        <a class="nav-link" @onclick="SwitchTabGame">
            <span class="d-md-none"><i class="fa-solid fa-clipboard-list"></i></span>
            <span class="d-none d-md-block">Game</span>
        </a>
    </li>
</ul>

<div>
    <EditForm Model="@newPagEntity" OnValidSubmit="AddPagEntity" class="row row-cols-lg-auto g-3 align-items-center">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-group col-12">
            <InputSelect class="form-select" @bind-Value="newPagEntity.PlayerRowKey">
                <option value="">Add player to game ...</option>
                @foreach (var player in players)
                {
                    if (game.PlayersAtGame.FirstOrDefault(pag => pag.PlayerAtGameEntity.PlayerRowKey == player.PlayerEntity.RowKey) == default)
                    {
                        <option value="@player.PlayerEntity.RowKey">@player.PlayerEntity.Name</option>
                    }
                }
            </InputSelect>
            <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-plus"></i></button>
        </div>
    </EditForm>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Played</th>
            <th scope="col">Team</th>
            <th scope="col">Add Payment</th>
        </tr>
    </thead>
    <tbody>
        <h5>Team A - @game.TeamA.Count()</h5>
        @foreach (var pag in game.TeamA)
        {
            <tr>
                <td><a href="/pags/@pag.PlayerAtGameEntity.RowKey">@pag.Player.PlayerEntity.Name</a> <PlayingForecastIcon Forecast="@pag.PlayerAtGameEntity.Forecast" /> <PositionIcon Position="pag.Player.PlayerEntity.Position" /> <CurrencyDisplay Amount="@pag.Player.Balance" /> <RagIcon Pag="@pag" /></td>
                <td>
                    <div class="form-check form-switch">
                        <InputCheckbox class="form-check-input" type="checkbox" role="switch" @bind-Value=pag.PlayerAtGameEntity.Played @bind-Value:after="() => BillRefundPagEntity(pag.PlayerAtGameEntity)"></InputCheckbox>
                    </div>
                </td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="() => SwitchPagTeam(pag.PlayerAtGameEntity)">@pag.PlayerAtGameEntity.Team <i class="fa-solid fa-repeat"></i></button></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="() => AddTransactionForPlayer(pag.Player.PlayerEntity.RowKey, pag.Player.PlayerEntity.DefaultRate)"><i class="fa-solid fa-plus"></i> £@pag.Player.PlayerEntity.DefaultRate</button></td>
            </tr>
        }
        <br>
        <h5>Team B - @game.TeamB.Count() (wear bibs)</h5>
        @foreach (var pag in game.TeamB)
        {
            <tr>
                <td><a href="/pags/@pag.PlayerAtGameEntity.RowKey">@pag.Player.PlayerEntity.Name</a> <PlayingForecastIcon Forecast="@pag.PlayerAtGameEntity.Forecast" /> <PositionIcon Position="pag.Player.PlayerEntity.Position" /> <CurrencyDisplay Amount="@pag.Player.Balance" /> <RagIcon Pag="@pag" /></td>
                <td>
                    <div class="form-check form-switch">
                        <InputCheckbox class="form-check-input" type="checkbox" role="switch" @bind-Value=pag.PlayerAtGameEntity.Played @bind-Value:after="() => BillRefundPagEntity(pag.PlayerAtGameEntity)"></InputCheckbox>
                    </div>
                </td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="() => SwitchPagTeam(pag.PlayerAtGameEntity)">@pag.PlayerAtGameEntity.Team <i class="fa-solid fa-repeat"></i></button></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="() => AddTransactionForPlayer(pag.Player.PlayerEntity.RowKey, pag.Player.PlayerEntity.DefaultRate)"><i class="fa-solid fa-plus"></i> £@pag.Player.PlayerEntity.DefaultRate</button></td>
            </tr>
        }
        <br>
        <h5>No team assigned</h5>
        @foreach (var pag in game.PlayersAtGame.Where(o => string.IsNullOrEmpty(o.PlayerAtGameEntity.Team)))
        {
            <tr>
                <td><a href="/pags/@pag.PlayerAtGameEntity.RowKey">@pag.Player.PlayerEntity.Name</a> <PlayingForecastIcon Forecast="@pag.PlayerAtGameEntity.Forecast" /> <PositionIcon Position="pag.Player.PlayerEntity.Position" /> <CurrencyDisplay Amount="@pag.Player.Balance" /> <RagIcon Pag="@pag" /></td>
                <td>
                    <div class="form-check form-switch">
                        <InputCheckbox class="form-check-input" type="checkbox" role="switch" @bind-Value=pag.PlayerAtGameEntity.Played @bind-Value:after="() => BillRefundPagEntity(pag.PlayerAtGameEntity)"></InputCheckbox>
                    </div>
                </td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="() => SwitchPagTeam(pag.PlayerAtGameEntity)">@pag.PlayerAtGameEntity.Team <i class="fa-solid fa-repeat"></i></button></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="() => AddTransactionForPlayer(pag.Player.PlayerEntity.RowKey, pag.Player.PlayerEntity.DefaultRate)"><i class="fa-solid fa-plus"></i> £@pag.Player.PlayerEntity.DefaultRate</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal-footer px-0">
    <button class="btn btn-secondary" @onclick="CalculateTeams"><i class="fa-solid fa-gear"></i> Calculate Teams</button> 
</div>

@code {
    [Parameter]
    public string GameRowKey { get; set; }

    private Game game;

    private List<Player> players = new();

    private PlayerAtGameEntity newPagEntity;

    private List<PlayerAtGame> pagsNoTeam;

    private string pageTitle;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    async Task Edit()
    {
        await GameService.UpsertGameEntity(game.GameEntity);
    }

    private async Task AddPagEntity()
    {
        await GameService.UpsertPlayerAtGameEntity(newPagEntity);
        await RefreshData();
    }

    private async Task EditPagEntity(PlayerAtGameEntity pag)
    {
        await GameService.UpsertPlayerAtGameEntity(pag);
        await RefreshData();
    }

    private async Task AddTransactionForPlayer(string playerRowKey, double amount)
    {
        var newTransactionEntityForPag = new TransactionEntity()
        {
            Date = DateTimeOffset.UtcNow,
            Notes = TransactionService.GetNotesForGame(game.GameEntity.RowKey),
            PlayerRowKey = playerRowKey,
            Amount = amount
        };
        await TransactionService.UpsertTransactionEntity(newTransactionEntityForPag);
        await RefreshData();
    }

    async Task BillRefundPagEntity(PlayerAtGameEntity pag)
    {
        // Get player for pag
        var player = PlayerService.GetPlayer(pag.PlayerRowKey);

        // Add / remove transactions if played / not played
        if (pag.Played)
        {
            var transaction = new TransactionEntity()
            {
                PlayerRowKey = pag.PlayerRowKey,
                Amount = -player.PlayerEntity.DefaultRate,
                Date = DateTimeOffset.UtcNow,
                Notes = TransactionService.GetNotesForGame(pag.GameRowKey)
            };
            await TransactionService.UpsertTransactionEntity(transaction);
        }
        else
        {
            // TO DO - thgis needs to match on trasnatcion noytes containing game
            // Get debit transactions (less than £0) for player and game
            var pagDebitTransactionEntities = player.Transactions
                .Where(o => o.Amount < 0);
            foreach (var pagDebitTransactionEntity in pagDebitTransactionEntities)
            {
                await TransactionService.DeleteTransactionEntity(pagDebitTransactionEntity.RowKey);
            }
        }

        // Upsert pag
        await GameService.UpsertPlayerAtGameEntity(pag);

        await RefreshData();
    }

    async Task CalculateTeams()
    {
        var playersAtGameWithTeams = await GameService.CalculateTeams(game.PlayersAtGame);
        game.TeamA = playersAtGameWithTeams
            .Where(pag => pag.PlayerAtGameEntity.Team == "A")
            .ToList();
        game.TeamB = playersAtGameWithTeams
            .Where(pag => pag.PlayerAtGameEntity.Team == "B")
            .ToList();

        await RefreshData();
    }

    async Task SwitchPagTeam(PlayerAtGameEntity pag)
    {
        if (pag.Team == "A")
        {
            pag.Team = "B";
        }
        else if (pag.Team == "B")
        {
            pag.Team = "";
        }
        else
        {
            pag.Team = "A";
        }
        await GameService.UpsertPlayerAtGameEntity(pag);
        await RefreshData();
    }

    async Task RefreshData()
    {
        players = PlayerService.GetPlayers();
        game = await GameService.GetGame(GameRowKey);
        newPagEntity = new PlayerAtGameEntity()
        {
            GameRowKey = game.GameEntity.RowKey,
            Played = false,
            Forecast = PlayingOptions.Yes.ToString(),
        };
        pagsNoTeam = game.PlayersAtGame.Where(o => string.IsNullOrEmpty(o.PlayerAtGameEntity.Team)).ToList();
        pageTitle = $"{game.GameEntity.Date.ToString("dd MMM yyyy")} Players";

    }

    private void SwitchTabGame() => Navigation.NavigateTo($"/games/{@GameRowKey}/game");
    private void SwitchTabTeamsheet() => Navigation.NavigateTo($"/games/{@GameRowKey}/teamsheet");
}