@page "/pags/{PagRowKey}"
@inject IPlayerService PlayerService
@inject IGameService GameService
@inject ITransactionService TransactionService
@inject NavigationManager Navigation

<PageTitle>TNF - @pageTitle</PageTitle>

<h1>@pageTitle</h1>

<div class="mb-3">
    <label class="form-label">RowKey</label>
    <span class="form-control-plaintext">@pag.PlayerAtGameEntity.RowKey</span>
</div>

<div class="mb-3">
    <label class="form-label">Player Name</label>
    <span class="form-control-plaintext"><a href="/players/@pag.Player.PlayerEntity.RowKey">@pag.Player.PlayerEntity.Name</a></span>
</div>

<div class="mb-3">
    <label class="form-label">Game</label>
    <span class="form-control-plaintext"><a href="/games/@pag.GameEntity.RowKey">@pag.GameEntity.Date.Date.ToLongDateString()</a></span>
</div>    

<div class="mb-3">
    <label class="form-label">Playing Forecast</label>
    <InputSelect class="form-select" @bind-Value=pag.PlayerAtGameEntity.Forecast @bind-Value:after="() => Edit()" >
        <option value="Yes">Yes</option>
        <option value="Maybe">Maybe</option>
    </InputSelect>
</div>

<div class="mb-3">
    <label class="form-label">Played</label>
    <InputSelect class="form-select" @bind-Value=pag.PlayerAtGameEntity.Played @bind-Value:after="() => Edit()" >
        <option value="true">Yes</option>
        <option value="false">No</option>
    </InputSelect>
</div>

<div class="mb-3">
    <label class="form-label">Team</label>
    <InputSelect class="form-select" @bind-Value=pag.PlayerAtGameEntity.Team @bind-Value:after="() => Edit()" >
        <option value="A">Team A</option>
        <option value="B">Team B</option>
    </InputSelect>
</div>

<div class="modal-footer">
    <a class="btn btn-secondary" href="/games/@pag.GameEntity.RowKey"><i class="fa-solid fa-arrow-left"></i> Back to Game</a>
    <button class="btn btn-secondary" @onclick="Delete"><i class="fa-solid fa-trash"></i> Delete</button>
</div>

@code {
    [Parameter]
    public string PagRowKey { get; set; }

    private PlayerAtGame pag;
    private string pageTitle;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    async Task Edit()
    {
        await GameService.UpsertPlayerAtGameEntity(pag.PlayerAtGameEntity);
    }

    async Task Delete()
    {
        await GameService.DeletePlayerAtGameEntity(pag.PlayerAtGameEntity);
        Navigation.NavigateTo($"/games/{pag.PlayerAtGameEntity.GameRowKey}");
    }

    private void RefreshData()
    {
        pag = GameService.GetPlayerAtGame(PagRowKey);
        pageTitle = $"Player at Game: {@pag.Player.PlayerEntity.Name}, {@pag.GameEntity.Date.Date.ToShortDateString()}";
    }

}