@page "/players"
@inject IStorageService StorageService
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>TNF - Players</PageTitle>

<h1>Players</h1>

<p>@playersWithbalance.Count players registered.</p>

<div>
    <button class="btn btn-secondary me-3 mb-3" data-bs-toggle="modal" data-bs-target="#addPlayerModal"><i class="fa-solid fa-plus"></i> Add Player</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-lg-table-cell">Position</th>
            <th scope="col" class="d-none d-lg-table-cell">Rate</th>
            <th scope="col">Balance</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playerWithBalance in playersWithbalance)
        {
            <tr>
                <td><InputText class="form-control" @bind-Value=playerWithBalance.Player.Name @bind-Value:after="(e => EditPlayer(playerWithBalance.Player))"></InputText></td>
                <td class="d-none d-lg-table-cell">
                    <InputSelect class="form-select" @bind-Value=playerWithBalance.Player.Position @bind-Value:after="(e => EditPlayer(playerWithBalance.Player))">
                        @foreach (string option in Enum.GetNames(typeof(PlayerPosition)))
                        {
                            <option value="@option">@option</option>
                        }
                    </InputSelect>
                </td>
                <td class="d-none d-lg-table-cell"><div class="input-group"><span class="input-group-text">£</span><InputNumber min="0" class="form-control" @bind-Value=playerWithBalance.Player.DefaultRate @bind-Value:after="(e => EditPlayer(playerWithBalance.Player))"></InputNumber></div></td>
                <td><CurrencyDisplay Amount="@playerWithBalance.Balance" /></td>
                <td><button type="button" class="btn btn-outline-secondary" @onclick="@(e => DeletePlayer(playerWithBalance.Player.RowKey))"><i class="fa-solid fa-trash"></i> Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<!-- Add Modal -->
<div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPlayerModalLabel">Add Shortcut</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <EditForm Model="@newPlayer" OnSubmit="@AddPlayer">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="addName" class="form-label">Name</label>
                <InputText class="form-control" id="addName" @bind-Value="newPlayer.Name" />
            </div>

            <div class="mb-3">
                <label for="addTags" class="form-label">Position</label>
                <InputSelect class="form-select" @bind-Value="newPlayer.Position">
                    @foreach (string option in Enum.GetNames(typeof(PlayerPosition)))
                    {
                        <option value="@option">@option</option>
                    }
                </InputSelect>
            </div>

            <div class="mb-3">
                <label for="addDefaultRate" class="form-label">Default Rate</label>
                <div class="input-group">
                    <span class="input-group-text">£</span>
                    <InputNumber type="number" min="0" class="form-control" id="addDefaultRate" @bind-Value="newPlayer.DefaultRate" />
                </div>
                <div class="form-text">Default rate per game. Usually £3 or £4.</div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Player</button>
            </div>
        </EditForm>
      </div>
    </div>
  </div>
</div>

@code {
    private List<PlayerWithBalance> playersWithbalance = new();

    private Player newPlayer = new();

    protected override void OnInitialized()
    {
        RefreshData();
    }

    async Task AddPlayer()
    {
        await StorageService.UpsertEntity<Player>(newPlayer);
        RefreshData();
    }

    async Task EditPlayer(Player editedPlayer)
    {
        await StorageService.UpsertEntity<Player>(editedPlayer);
        RefreshData();
    }

    async Task DeletePlayer(string rowKey)
    {
        // Get and delete PAGs
        var pags = StorageService.QueryEntities<PlayerAtGame>($"PlayerRowKey eq '{rowKey}'");
        foreach (var pag in pags)
        {
            await StorageService.DeleteEntity<PlayerAtGame>(pag.RowKey);
        }

        // Delete Player
        await StorageService.DeleteEntity<Player>(rowKey);

        RefreshData();
    }

    private void RefreshData()
    {
        newPlayer = new();
        var players = StorageService.QueryEntities<Player>(default)
            .OrderBy(p => p.Name)
            .ToList();

        playersWithbalance.Clear();
        foreach (var player in players)
        {
            var playersTransactions = StorageService.QueryEntities<Transaction>($"PlayerRowKey eq '{player.RowKey}'");
            var playerBalance = playersTransactions.Sum(t => t.Amount);
            var playerWithBalance = new PlayerWithBalance(player)
            {
                Balance = playerBalance,
            };
            playersWithbalance.Add(playerWithBalance);
        }
    }
}