@page "/teamsheet/{GameRowKey}"
@inject IGameService GameService
@inject NavigationManager Navigation

<PageTitle>TNF - @pageTitle</PageTitle>

<h1>@pageTitle</h1>
<p>As at @DateTime.Now.ToString("dd MMM yyyy HH:mm").</p>

@if ((game.TeamA != null) && (game.TeamB != null))
{
    <hr>

    <h4>Team A - @game.TeamA.Count()</h4>
    <p>@game.TeamA.Where(t => t.Player.PlayerEntity.Position == PlayerPosition.Defender).Count() defenders, @game.TeamA.Where(t => t.Player.PlayerEntity.Position == PlayerPosition.Midfielder).Count() midfielders, @game.TeamA.Where(t => t.Player.PlayerEntity.Position == PlayerPosition.Forward).Count() forwards</p>
    @foreach (var pag in game.TeamA)
    {
        <p>@pag.Player.PlayerEntity.Name</p>
    }

    <hr>

    <h4>Team B - @game.TeamB.Count() (wear bibs)</h4>
    <p>@game.TeamB.Where(t => t.Player.PlayerEntity.Position == PlayerPosition.Defender).Count() defenders, @game.TeamB.Where(t => t.Player.PlayerEntity.Position == PlayerPosition.Midfielder).Count() midfielders, @game.TeamB.Where(t => t.Player.PlayerEntity.Position == PlayerPosition.Forward).Count() forwards</p>
    @foreach (var pag in game.TeamB)
    {
        <p>@pag.Player.PlayerEntity.Name</p>
    }
}  
else
{
    <p>No teams yet.</p>
}

<div class="modal-footer">
    <a class="btn btn-secondary" href="/games/@GameRowKey"><i class="fa-solid fa-arrow-left"></i> Back to Game</a>
</div>

@code {
    [Parameter]
    public string GameRowKey { get; set; }

    private Game game;

    private string pageTitle;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    async Task RefreshData()
    {
        game = await GameService.GetGame(GameRowKey);
        pageTitle = $"{game.GameEntity.Date.Date.ToString("dd MMM")}";

    }
}