@page "/teamsheet/{GameRowKey}"
@layout TeamsheetLayout
@inject IGameService GameService
@inject NavigationManager Navigation

<PageTitle>TNF - @pageTitle</PageTitle>

<h1>@pageTitle</h1>

@if ((game.TeamA != null) && (game.TeamB != null))
{
    <h2>Team A - @game.TeamA.Count()</h2>
    @foreach (var pag in game.TeamA)
    {
        <p>@pag.Player.PlayerEntity.Name <PositionIcon Position="pag.Player.PlayerEntity.Position" /></p>
    }

    <h2>Team B - @game.TeamB.Count() (wear bibs)</h2>
    @foreach (var pag in game.TeamB)
    {
        <p>@pag.Player.PlayerEntity.Name <PositionIcon Position="pag.Player.PlayerEntity.Position" /></p>
    }
}  
else
{
    <p>No teams yet.</p>
}

@code {
    [Parameter]
    public string GameRowKey { get; set; }

    private Game game;

    private string pageTitle;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    async Task RefreshData()
    {
        game = await GameService.GetGame(GameRowKey);
        game.TeamA = game.TeamA.OrderBy(o => o.Player.PlayerEntity.Position).ToList();
        game.TeamB = game.TeamB.OrderBy(o => o.Player.PlayerEntity.Position).ToList();
        pageTitle = game.GameEntity.Date.Date.ToLongDateString();

    }
}