@page "/transactions/{TransactionRowKey}"
@inject ITransactionService TransactionService
@inject NavigationManager Navigation

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-solid fa-coins me-2"></i> @pageTitle</h1>

<p>Transactions cannot be edited, only deleted</p>

<h5>Row Key</h5>
<p >@transaction.TransactionEntity.RowKey</p>

<h5>Date</h5>
<p>@transaction.TransactionEntity.Date.ToString("dd MMM yyyy HH:mm")</p>

<h5>Amount</h5>
<p><CurrencyDisplay Amount="@transaction.TransactionEntity.Amount" ></CurrencyDisplay></p>

<h5>Notes</h5>
@if (transaction.TransactionEntity.Notes is not null)
{
    <p>@transaction.TransactionEntity.Notes</p>
}
else
{
    <p>No Notes</p>
}

<h5>Player</h5>
<p><a href="players/@transaction.Player.PlayerEntity.RowKey">@transaction.Player.PlayerEntity.Name</a></p>

<h5>Game</h5>
@if (transaction.Game is not null)
{
    <p><GameTitle GameRowKey="@transaction.Game.GameEntity.RowKey" Link="true" /></p>
}
else
{
    <p>No Game</p>
}

<div class="modal-footer">
    <a class="btn btn-secondary" href="/transactions/split/@transaction.TransactionEntity.RowKey"><i class="fa-solid fa-code-branch"></i> Split Transaction</a>
    <button class="btn btn-secondary" @onclick="Delete" ><i class="fa-solid fa-trash"></i> Delete Transaction</button>
</div>

@code {
    [Parameter]
    public string TransactionRowKey { get; set; }

    private Transaction transaction;

    private string pageTitle;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task Delete()
    {
        await TransactionService.DeleteTransactionEntity(transaction.TransactionEntity.RowKey);
        Navigation.NavigateTo("/transactions");
    }

    async Task RefreshData()
    {
        transaction = await TransactionService.GetTransaction(TransactionRowKey);
        pageTitle = $"{@transaction.Player.PlayerEntity.Name}, {@transaction.TransactionEntity.Date.Date.ToShortDateString()}";
    }
}