@page "/transactions/split/{TransactionRowKey}"
@inject ITransactionService TransactionService
@inject IGameService GameService
@inject NavigationManager Navigation

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-solid fa-coins me-2"></i> @pageTitle</h1>
<p>This page will create a new transaction by taking money from an existing one.</p>

<h2>Original Transaction</h2>
<div class="mb-3">
    <label for="addPlayerRowKey" class="form-label">Player & Game</label>
    <p>@originalPlayerGame</p>
</div>

<div class="mb-3">
    <label for="addAmount" class="form-label">Amount</label>
    <p><CurrencyDisplay Amount="@originalAmount" /></p>
</div>

<h2>New Transaction</h2>
<EditForm Model="@newTransaction">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="addAmount" class="form-label">Amount to take</label>        
        <div class="input-group">
            <span class="input-group-text">£</span>
            <InputNumber type="number" class="form-control" id="addAmount" @bind-Value="newTransaction.Amount" @bind-Value:after="() => CalculateUpdates()"/>
        </div>
        @if (newTransaction.Amount > originalAmount)
        {
            <div class="form-text">This will take more than the original amount, making the original transaction a negative one.</div>
        }
    </div>

    <div class="mb-3">
        <label for="addPlayerRowKey" class="form-label">Associated Game</label>
        <InputSelect class="form-select" @bind-Value="newTransaction.GameRowKey">
            <option value="">Select Game ...</option>
            @foreach (var game in games)
            {
                <option value="@game.GameEntity.RowKey">@game.GameEntity.Date.Date.ToLongDateString()</option>
            }
        </InputSelect>
        <div class="form-text">Optionally associate the transaction with a game.</div>
    </div>

    <div class="mb-3">
        <label for="addAmount" class="form-label">Notes for original transaction</label>        
        <InputText class="form-control" id="addNotes" @bind-Value="updatedOriginalNotes" />
    </div>

    <div class="mb-3">
        <label for="addAmount" class="form-label">Notes for new transaction</label>        
        <InputTextArea class="form-control" id="addNotes" @bind-Value="newTransaction.Notes" />
    </div>
</EditForm>

@code {
    [Parameter]
    public string TransactionRowKey { get; set; }

    private List<Game> games = new();

    private TransactionEntity newTransaction;

    private string updatedOriginalNotes;

    private string pageTitle;

    private string originalPlayerGame;

    private double originalAmount;

    private string originalNotes;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private void CalculateUpdates()
    {   
        var newOriginalAmount = originalAmount - newTransaction.Amount;
        updatedOriginalNotes = $"{originalNotes} / Split on {DateTime.Now.Date.ToString("dd MMM")}. £{@newTransaction.Amount} taken into a new transaction, leaving £{@newOriginalAmount} left in this one.";
        newTransaction.Notes = $"Created by spliting transaction {@TransactionRowKey}. Split on {DateTime.Now.Date.ToString("dd MMM")}. £{@newTransaction.Amount} taken into this transaction, leaving £{@newOriginalAmount} left in the original one.";
    }

    async Task RefreshData()
    {
        games = await GameService.GetGames();
        newTransaction = new TransactionEntity();
        var originalTransaction = await TransactionService.GetTransaction(TransactionRowKey);
        originalPlayerGame = $"{originalTransaction.Player.PlayerEntity.Name} at {originalTransaction.Game.GameEntity.Date.Date.ToShortDateString()}";
        originalAmount = originalTransaction.TransactionEntity.Amount; 
        originalNotes = originalTransaction.TransactionEntity.Notes;
        pageTitle = $"Split transaction: {@originalTransaction.Player.PlayerEntity.Name}, {@originalTransaction.TransactionEntity.Date.Date.ToString("dd MMM")}";
    }
}