@page "/transactions"
@inject ITransactionService TransactionService

<PageTitle>TNF - Transactions</PageTitle>

<h1>Transactions</h1>

<div>
    <a class="btn btn-secondary me-3 mb-3" href="/transactions/add"><i class="fa-solid fa-plus"></i> Add Transaction</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Player</th>
            <th scope="col" class="d-none d-lg-table-cell">Game</th>
            <th scope="col" class="d-none d-lg-table-cell">Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in transactions)
        {
            var gameDate = (transaction.Game is null) ? "No game" : transaction.Game.GameEntity.Date.Date.ToShortDateString();
            
            <tr>
                <td><a href="/transactions/@transaction.TransactionEntity.RowKey">@transaction.TransactionEntity.Date.Date.ToShortDateString()</a></td>
                <td><CurrencyDisplay Amount="@transaction.TransactionEntity.Amount" /></td>
                <td>@transaction.Player.PlayerEntity.Name</td>
                <td class="d-none d-lg-table-cell">@gameDate</td>
                <td class="d-none d-lg-table-cell">@transaction.TransactionEntity.Notes</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Transaction> transactions = new();

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        transactions = TransactionService.GetTransactions();
    }
}