@page "/admin/games/addtransactionstogame"
@layout AdminLayout
@using System.Globalization
@inject IPlayerService PlayerService
@inject IGameService GameService
@inject ITransactionService TransactionService
@inject NavigationManager Navigation

<PageTitle>@_pageTitle</PageTitle>

<h1><i class="fa-solid fa-people-group me-2"></i> @_pageTitle</h1>

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        
        <div class="mb-3">
            <label class="form-label">Game</label>
            <InputSelect class="form-select" @bind-Value="_selectedGameId" @bind-Value:after="RefreshGame">
                <option value="">Select Game ...</option>
                @foreach (var g in _games)
                {
                    var gameId = g.Id;
                    if (gameId == _nextGame?.Id)
                    {
                        <option value="@gameId" selected><GameLink GameLabel="@g.Label" GameUrlSegment="@g.UrlSegment" /></option>
                    }
                    else
                    {
                        <option value="@gameId"><GameLink GameLabel="@g.Label" GameUrlSegment="@g.UrlSegment" /></option>
                    }
                }
            </InputSelect>
        </div>

        <div class="mb-3">
            <label class="form-label">Players to add payments for</label>
            <InputSelect class="form-select" @bind-Value="_selectedProspectPagPlayerRowKey" @bind-Value:after="AddProspectTransaction">
                <option value="" selected>Choose Player ...</option>
                @foreach (var player in _pagPlayers)
                {
                    <option value="@player.Id">@player.Name</option>
                }
            </InputSelect>
        </div>

        <div class="mb-3">
            <label class="form-label">Prospective Payments</label>
            @foreach (var prospectTransaction in _prospectTransactions)
            {
                var player = PlayerService.GetPlayer(prospectTransaction.PlayerId);
                <p><CurrencyDisplay Amount="@prospectTransaction.Amount" BlackText="true" /> for <PlayerLink PlayerName="@player.Name" PlayerUrlSegment="@player.UrlSegment" /> </p>
            }
        </div>

        @if (_showLongRunning)
        {
            <LongRunning />
        }
        else
        {
            <div class="hstack gap-2">
                <button class="btn btn-secondary" @onclick="AddProspectTransactionsToGame"><i class="fa-solid fa-plus"></i> Add @_prospectTransactions.Count Payments to Game</button>
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <h4>Access Denied!</h4>
        <a class="btn btn-secondary" href="authentication/login"><i class="fa-solid fa-key me-2"></i> Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public AdminLayout Layout { get; set; } = null!;
    
    private List<Game> _games = [];

    private List<Player> _pagPlayers = [];

    private List<Transaction> _prospectTransactions = [];

    private string _selectedProspectPagPlayerRowKey = null!;

    private string _selectedGameId = null!;

    private Game _selectedGame = null!;

    private Game _nextGame = null!;
    
    private bool _showLongRunning;
    
    private string _pageTitle = null!;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void AddProspectTransaction()
    {
        if (string.IsNullOrEmpty(_selectedProspectPagPlayerRowKey)) return;

        var player = PlayerService.GetPlayer(_selectedProspectPagPlayerRowKey);
        var prospectTransaction = new Transaction()
        {
            DateTime = DateTime.UtcNow,
            Notes = $"Added as part of bulk addition {DateTime.UtcNow.ToString(CultureInfo.InvariantCulture)}",
            PlayerId = _selectedProspectPagPlayerRowKey,
            GameId = _selectedGameId,
            Amount = player.DefaultRate,
        };
        _prospectTransactions.Add(prospectTransaction);
    }

    private async Task AddProspectTransactionsToGame()
    {
        if (string.IsNullOrEmpty(_selectedProspectPagPlayerRowKey)) return;

        _showLongRunning = true;
        StateHasChanged();

        foreach (var prospectTransaction in _prospectTransactions)
        {
            await TransactionService.UpsertTransactionAsync(prospectTransaction);
        }
        
        Navigation.NavigateTo($"/admin/games/{_selectedGame.UrlSegment}");
    }

    private void RefreshGame()
    {
        if (string.IsNullOrEmpty(_selectedGameId)) return;
        _selectedGame = _games.Single(g => g.Id == _selectedGameId);
        _prospectTransactions.Clear();
        _pagPlayers = PlayerService.GetPlayers(_selectedGameId);
    }

    private void RefreshData()
    {
        _games = GameService.GetGames(null, null);
        _nextGame = GameService.GetNextGame();
        _selectedGameId = _nextGame.Id;
        _selectedGame = _nextGame;
        _pageTitle = "Add Transactions to Game";
        Layout.SetPageTitle(_pageTitle);
        RefreshGame();
    }

}