@page "/browserdata"
@inject ILocalStorageService _localStore;

<h1>Browser Data</h1>

<h2>Players</h2>
@foreach (var pe in allPlayers)
{
	<p>@pe.Name</p>
}

<h2>Games</h2>
@foreach (var ge in allGames)
{
	<p>@ge.Date</p>
}

<h2>Transactions</h2>
@foreach (var te in allTransactions)
{
	<p>@te.PlayerRowKey @te.Amount @te.Date</p>
}

@code {
	private List<PlayerEntity> allPlayers = new();
	private List<GameEntity> allGames = new();
	private List<TransactionEntity> allTransactions = new();
	private List<PlayerAtGameEntity> allPlayerAtGame = new();
	private List<RatingEntity> allRatings = new();

	protected override async Task OnInitializedAsync()
	{
		allPlayers = await _localStore.GetItemAsync<List<PlayerEntity>>(typeof(PlayerEntity).Name);
		allGames = await _localStore.GetItemAsync<List<GameEntity>>(typeof(GameEntity).Name);
		allTransactions = await _localStore.GetItemAsync<List<TransactionEntity>>(typeof(TransactionEntity).Name);
	}
}
