@page "/cachedadmin"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment Env
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDataService DataService

<PageTitle>Tuesday.Football</PageTitle>

<h1>Tuesday.Football Admin Portal</h1>

<AuthorizeView Policy="IsAdminEmail">
	<Authorized>
		<h2>Config</h2>
		<p>SettingsFile: <b>@Configuration["SettingsFile"]</b></p>

		<p>StorageConfiguration:ApiHost: <b>@Configuration["ApiConfiguration:ApiHost"]</b></p>

		<p>AzureAdB2C:ClientId: <b>@Configuration["AzureAdB2C:ClientId"]</b></p>

		<p>AzureAdB2C:Authority: <b>@Configuration["AzureAdB2C:Authority"]</b></p>

		<p>Environment: <b>@Env.Environment</b></p>

		@*<p>Authentication state: <b>@context.User.Identity?.Name</b></p>*@

		<p>IsAdminEmail?: <b>Yes</b></p>

		<p>Claims</p>
		@if (_claims.Any())
		{
			<ul>
				@foreach (var claim in _claims)
				{
					<li>@claim.Type: @claim.Value</li>
				}
			</ul>
		}

		<h2>Data</h2>
		<button class="btn btn-primary" @onclick="ClearLocalData">Clear Local Data</button>
		<button class="btn btn-primary" @onclick="() => RefreshData(true)">Refresh Data</button>
		@foreach (var p in DataService.PlayerEntities)
		{
			<p><a href="/players/@p.RowKey/player">Player, @p.RowKey, @p.Name</a></p>
		}
		@foreach (var g in _allGames)
		{
			<p><a href="/games/@g.RowKey">Game, @g.RowKey, @g.Date</a></p>
		}
		@foreach (var t in DataService.TransactionEntities)
		{
			<p><a href="/transactions/@t.RowKey">Transaction, @t.RowKey, @t.Date, @t.Amount</a></p>
		}
		@foreach (var pag in _allPlayerAtGame)
		{
			<p><a href="/pags/@pag.RowKey">PlayerAtGame, @pag.RowKey, @pag.PlayerRowKey, @pag.GameRowKey</a></p>
		}
		@foreach (var r in _allRatings)
		{
			<p><a href="/ratings/@r.RowKey">Rating, @r.RowKey, @r.PlayerRowKey, @r.GameRowKey, @r.Rating</a></p>
		}

		<BootstrapBreakpoints />

	</Authorized>
</AuthorizeView>


@code {
	private List<GameEntity> _allGames = [];
	private List<PlayerAtGameEntity> _allPlayerAtGame = [];
	private List<RatingEntity> _allRatings = [];
	private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

	protected override async Task OnInitializedAsync()
	{
		await RefreshData(false);
	}

	private async Task RefreshData(bool forceApi)
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		if (user.Identity is not null && user.Identity.IsAuthenticated)
		{
			_claims = user.Claims;
		}

		await DataService.LoadDataAsync(forceApi, false);
		_allGames = await DataService.QueryEntitiesAsync<GameEntity>();
		_allPlayerAtGame = await DataService.QueryEntitiesAsync<PlayerAtGameEntity>();
		_allRatings = await DataService.QueryEntitiesAsync<RatingEntity>();
	}

	private async Task ClearLocalData()
	{
		await DataService.ClearLocalDataAsync();
	}

}
