@page "/games/{GameUrlSegment}"
@inject IPlayerService PlayerService
@inject IGameService GameService

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-people-group me-2"></i> <EntityTitleLink RowKey="@_gameEntity.RowKey" EntityType="Enums.EntityType.GameEntity" Link="false" /></h1>

<p>
    @_pags.Count() players. @_gameEntity.Date.TimeOfDay.Hours:@_gameEntity.Date.TimeOfDay.Minutes kick off.
    @if (_mostRecentPag != default)
    {
        <span>Last player added at @_mostRecentPag.Timestamp?.ToString("ddd MM mmm HH:mm")</span>
    }
</p>
@if (!string.IsNullOrEmpty(_gameEntity.Notes))
{
    <p>@_gameEntity.Notes</p>
}

<div class="row">
    <div class="col">
        <EditForm Model="@_newPagEntity" OnValidSubmit="AddPagEntity" class="row row-cols-lg-auto g-3 align-items-center">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="input-group col-12">
                <InputSelect class="form-select" @bind-Value="_newPagEntity.PlayerRowKey">
                    <option value="">Add player to game ...</option>
                    @foreach (var pe in _allPlayerEntities.Where(pe => _pags.FirstOrDefault(pag => pag.PlayerRowKey == pe.RowKey) == default))
                    {
                        <option value="@pe.RowKey">@pe.Name</option>
                    }
                </InputSelect>
                <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-plus"></i></button>
            </div>
        </EditForm>
    </div>
</div>
<br>

<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th scope="col">Team</th>
            <th scope="col">Player</th>
            <AuthorizeView Policy="IsAdminEmail">
                <Authorized>
                    @if (!_simpleView)
                    {
                        <th scope="col" class="text-end">Edit</th>
                    }
                </Authorized>
            </AuthorizeView>
        </tr>
    </thead>
    <tbody>

    @{
        var teamAPags = _pags.Where(o => o.Team == "A").ToList();
        double teamAAdminRatingTotal = 0;
    }
    @foreach (var pag in teamAPags)
    {
        var pe = PlayerService.GetPlayerEntity(pag.PlayerRowKey);
        teamAAdminRatingTotal += pe.AdminRating;
        <tr>
            <td>A</td>
            <td>
                <a href="/games/@_gameEntity.UrlSegment/@pag.UrlSegment">@pe.Name</a>
                <PlayingForecastIcon Forecast="@pag.Forecast"/>
                <PositionIcon Position="pe.Position"/>
                <RagIcon PagEntity="@pag"/>
                <AuthorizeView Policy="IsAdminEmail">
                    <Authorized>
                        @if (!_simpleView)
                        {
                            <RatingNumberIcon Rating=@pe.AdminRating/>
                        }
                    </Authorized>
                </AuthorizeView>
            </td>
            <td class="text-end">
                @if (!_simpleView)
                {
                    <PagRowEditButtons PagEntity="@pag" RefreshMainPage="RefreshData"/>
                }
            </td>
        </tr>
    }
    @if (teamAPags.Any())
    {
        var teamAAverageRating = teamAAdminRatingTotal / teamAPags.Count();
        <tr>
            <td colspan="3">
                <span>Team A has @teamAPags.Count() players and a rating of @teamAAverageRating.ToString("#.##")</span>
                <hr>
            </td>
        </tr>
    }

    @{
        var teamBPags = _pags.Where(o => o.Team == "B").ToList();
        double teamBAdminRatingTotal = 0;
    }
    @foreach (var pag in teamBPags)
    {
        var pe = PlayerService.GetPlayerEntity(pag.PlayerRowKey);
        teamBAdminRatingTotal += pe.AdminRating;
        <tr>
            <td>B</td>
            <td>
                <a href="/games/@_gameEntity.UrlSegment/@pag.UrlSegment">@pe.Name</a>
                <PlayingForecastIcon Forecast="@pag.Forecast"/>
                <PositionIcon Position="pe.Position"/>
                <RagIcon PagEntity="@pag"/>
                <AuthorizeView Policy="IsAdminEmail">
                    <Authorized>
                        @if (!_simpleView)
                        {
                            <RatingNumberIcon Rating=@pe.AdminRating/>
                        }
                    </Authorized>
                </AuthorizeView>
            </td>
            <td class="text-end">
                @if (!_simpleView)
                {
                    <PagRowEditButtons PagEntity="@pag" RefreshMainPage="RefreshData"/>
                }
            </td>
        </tr>
    }
    @if (teamBPags.Any())
    {
        var teamBAverageRating = teamBAdminRatingTotal / teamBPags.Count();
        <tr>
            <td colspan="3">
                <span>Team B has @teamBPags.Count() players and a rating of @teamBAverageRating.ToString("#.##")</span>
                <hr>
            </td>
        </tr>
    }
    @foreach (var pag in _pags.Where(o => string.IsNullOrEmpty(o.Team)))
    {
        var pe = PlayerService.GetPlayerEntity(pag.PlayerRowKey);
        <tr>
            <td>None</td>
            <td>
                <a href="/games/@_gameEntity.UrlSegment/@pag.UrlSegment">@pe.Name</a>
                <PlayingForecastIcon Forecast="@pag.Forecast"/>
                <PositionIcon Position="pe.Position"/>
                <RagIcon PagEntity="@pag"/>
                <AuthorizeView Policy="IsAdminEmail">
                    <Authorized>
                        @if (!_simpleView)
                        {
                            <RatingNumberIcon Rating=@pe.AdminRating/>
                        }
                    </Authorized>
                </AuthorizeView>
            </td>
            <td class="text-end">
                @if (!_simpleView)
                {
                    <PagRowEditButtons PagEntity="@pag" RefreshMainPage="RefreshData"/>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (_showLongRunning)
{
    <LongRunning />
}
else
{
    <div class="hstack gap-2">
        <a class="btn btn-secondary" href="/games/" title="All Games"><i class="fa-solid fa-arrow-left"></i> <span class="d-none d-md-inline">All Games</span></a>
        <a class="btn btn-secondary" href="/games/@GameUrlSegment/edit" title="Edit"><i class="fa-solid fa-edit"></i> <span class="d-none d-md-inline">Edit</span></a>
        <AuthorizeView Policy="IsAdminEmail">
            <Authorized>
                <button class="btn btn-secondary" @onclick="ToggleSimpleView" title="@_simpleViewLabel"><i class=@_simpleViewCss></i> <span class="d-none d-md-inline">@_simpleViewLabel</span></button>
                <button class="btn btn-secondary" @onclick="CalculateTeams" title="Calculate Teams"><i class="fa-solid fa-gear"></i> <span class="d-none d-md-inline">Calculate Teams</span></button>
                <button class="btn btn-secondary" @onclick="ResetTeams" title="Reset Teams"><i class="fa-solid fa-rotate"></i> <span class="d-none d-md-inline">Reset Teams</span></button>
            </Authorized>
        </AuthorizeView>
    </div>
}

@code {
    [CascadingParameter] public MainLayout MainLayout { get; set; } = default!;

    [Parameter] public string GameUrlSegment { get; set; } = default!;

    private GameEntity _gameEntity = default!;

    private List<PlayerAtGameEntity> _pags = default!;

    private List<PlayerEntity> _allPlayerEntities = [];

    private PlayerAtGameEntity _newPagEntity = new();

    private PlayerAtGameEntity? _mostRecentPag;

    private string? _pageTitle;

    private string _simpleViewLabel = default!;

    private bool _simpleView;

    private string _simpleViewCss = "fa-solid fa-eye-slash";

    private bool _showLongRunning;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private async Task AddPagEntity()
    {
        await GameService.UpsertPlayerAtGameEntityAsync(_newPagEntity);
        RefreshData();
    }

    private async Task CalculateTeams()
    {
        _showLongRunning = true;
        _pags = await GameService.CalculateTeamsAsync(_pags);
        RefreshData();
        _showLongRunning = false;
    }

    private async Task ResetTeams()
    {
        _showLongRunning = true;
        await GameService.ResetTeamsAsync(_gameEntity.RowKey);
        RefreshData();
        _showLongRunning = false;
    }

    void ToggleSimpleView()
    {
        _simpleView = !_simpleView;
        SetSimpleViewLabel();
    }

    private void SetSimpleViewLabel()
    {
        // Set simple view label
        if (_simpleView)
        {
            _simpleViewLabel = "Disable Simple";
            _simpleViewCss = "fa-solid fa-eye";
        }
        else
        {
            _simpleViewLabel = "Enable Simple";
            _simpleViewCss = "fa-solid fa-eye-slash";
        }
    }

    private void RefreshData()
    {
        _gameEntity = GameService.GetGameEntityByUrlSegment(GameUrlSegment);
        _allPlayerEntities = PlayerService.GetPlayerEntities();
        _pags = GameService.GetPlayerAtGameEntitiesForGame(_gameEntity.RowKey);
        _newPagEntity = new PlayerAtGameEntity()
        {
            GameRowKey = _gameEntity.RowKey,
            Played = false,
            Forecast = PlayingOptions.Yes.ToString(),
        };
        _pageTitle = GameService.GetGameLabel(_gameEntity.RowKey);
        MainLayout.SetPageTitle(_pageTitle);
        _simpleView = false;
        _mostRecentPag = GameService.GetMostRecentPlayerAtGameForGame(_gameEntity.RowKey);

        //Set simple view label
        SetSimpleViewLabel();
    }

}