@page "/games/{GameUrlSegment}/{PagUrlSegment}"
@inject IGameService GameService
@inject ITransactionService TransactionService
@inject IPlayerService PlayerService
@inject NavigationManager Navigation

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-people-group me-2"></i> @_pageTitle</h1>

<div class="mb-3">
    <label class="form-label">Player Name</label>
    <span class="form-control-plaintext"><PlayerName PlayerRowKey="@_playerEntity.RowKey" Link="true" /></span>
</div>

<div class="mb-3">
    <label class="form-label">Url Segment</label>
    <span class="form-control-plaintext" disabled="true">@_pagEntity.UrlSegment</span>
    <div class="form-text">Set automatically.</div>
</div>

<div class="mb-3">
    <label class="form-label">Game</label>
    <span class="form-control-plaintext"><GameEntityTitle GameEntity="@_gameEntity" Link="true" /></span>
</div>

<div class="mb-3">
    <label class="form-label">Playing Forecast</label>
    <InputSelect class="form-select" @bind-Value=_pagEntity.Forecast @bind-Value:after="Edit">
        <option value="Yes">Yes</option>
        <option value="Maybe">Maybe</option>
        <option value="Reserve1">Reserve1</option>
        <option value="Reserve2">Reserve2</option>
        <option value="Reserve3">Reserve3</option>
        <option value="Reserve4">Reserve4</option>
        <option value="Reserve5">Reserve5</option>
        <option value="No">No</option>
    </InputSelect>
</div>

<div class="mb-3">
    <label class="form-label">Played</label>
    <InputSelect class="form-select" @bind-Value=_pagEntity.Played @bind-Value:after="EditPlayed">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </InputSelect>
</div>

<div class="mb-3">
    <label class="form-label">Team</label>
    <InputSelect class="form-select" @bind-Value=_pagEntity.Team @bind-Value:after="Edit">
        <option value="A">Team A</option>
        <option value="B">Team B</option>
        <option value="">No Team</option>
    </InputSelect>
</div>

<div class="mb-3">
    <label class="form-label">Add Payment</label>
    <br>
    <button class="btn btn-outline-secondary" @onclick="AddTransactionForPlayer"><i class="fa-solid fa-plus"></i> @_playerEntity.DefaultRate</button>
    <br>
    <span>Balance: <CurrencyDisplay Amount="@_playerEntityBalance" /></span>
</div>

<div class="hstack gap-2">
    <a class="btn btn-secondary" href="/games/@GameUrlSegment"><i class="fa-solid fa-arrow-left"></i> Back to Game</a>

    <AuthorizeView Policy="IsAdminEmail">
        <Authorized>
            <DeleteButtonWithCheck DeleteWhatLabel="@_pageTitle" ButtonLabel="Delete" ParentPageCallback="DeletePag" />
        </Authorized>
        <NotAuthorized>
            <a class="btn btn-secondary disabled"><i class="fa-solid fa-trash"></i> Delete</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [CascadingParameter] public MainLayout MainLayout { get; set; } = default!;
    
    [Parameter] public string PagUrlSegment { get; set; } = default!;
    
    [Parameter] public string GameUrlSegment { get; set; } = default!;

    private PlayerAtGameEntity _pagEntity = default!;

    private PlayerEntity _playerEntity = default!;

    private double _playerEntityBalance;

    private string _pageTitle = default!;

    private GameEntity _gameEntity = default!;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private async Task AddTransactionForPlayer()
    {
        var newTransactionEntityForPag = new TransactionEntity()
            {
                Date = DateTimeOffset.UtcNow,
                Notes = GameService.GetNotesForGame(_pagEntity.GameRowKey),
                PlayerRowKey = _playerEntity.RowKey,
                Amount = _playerEntity.DefaultRate
            };
        if (TransactionService is not null)
        {
            await TransactionService.UpsertTransactionEntityAsync(newTransactionEntityForPag);
        }
        RefreshData();
    }

    private async Task Edit()
    {
        await GameService.UpsertPlayerAtGameEntityAsync(_pagEntity);
        RefreshData();
    }

    private async Task EditPlayed()
    {
        await GameService.TogglePlayerAtGamePlayedAsync(_pagEntity, _pagEntity.Played);
        RefreshData();
    }

    private async Task DeletePag()
    {
        await GameService.DeletePlayerAtGameEntityAsync(_pagEntity.RowKey);
        Navigation.NavigateTo($"/games/{GameUrlSegment}");
    }

    private void RefreshData()
    {
        _pagEntity = GameService.GetPlayerAtGameEntityByUrlSegment(PagUrlSegment);
        _playerEntity = PlayerService.GetPlayerEntity(_pagEntity.PlayerRowKey);
        _playerEntityBalance = PlayerService.GetBalanceForPlayerEntity(_pagEntity.PlayerRowKey);
        _gameEntity = GameService.GetGameEntity(_pagEntity.GameRowKey);
        var gameLabel = GameService.GetGameLabel(_gameEntity.RowKey);
        _pageTitle = $"{@_playerEntity.Name} at {gameLabel} foo";
        MainLayout.SetPageTitle(_pageTitle);
    }

}