@page "/games"
@inject IGameService GameService

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-people-group me-2"></i> @_pageTitle</h1>

<p>@_gameEntities.Count games.</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Players</th>
			<th scope="col">Notes</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ge in _gameEntities)
		{
			var pags = GameService.GetPlayerAtGameEntitiesForGame(ge.RowKey);
			<tr>
				<td><GameEntityTitle GameEntity="@ge" Link="true" /></td>
				<td>@pags.Count</td>
				<td>@ge.Notes</td>
			</tr>
		}
	</tbody>
</table>

@code {
	private List<GameEntity> _gameEntities = [];

	private string _pageTitle = default!;

	protected override void OnInitialized()
	{
		RefreshData();
	}

	private void RefreshData()
	{
		_gameEntities = GameService.GetGameEntities();
		_pageTitle = "Games";
	}
}