@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment Env

<PageTitle>Tuesday.Football</PageTitle>

<h1>Welcome to Tuesday.Football</h1>

<p>SettingsFile: <b>@Configuration["SettingsFile"]</b></p>

<p>StorageConfiguration:ApiHost: <b>@Configuration["StorageConfiguration:ApiHost"]</b></p>

<p>AzureAdB2C:ClientId: <b>@Configuration["AzureAdB2C:ClientId"]</b></p>

<p>AzureAdB2C:Authority: <b>@Configuration["AzureAdB2C:Authority"]</b></p>

<p>Environment: <b>@Env.Environment</b></p>

<p>Authnetication state: <b><AuthorizeView ><Authorized>Authenticated as @context.User.Identity?.Name</Authorized><NotAuthorized>Not Authenticated</NotAuthorized></AuthorizeView></b></p>

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}