@page "/players/add"
@inject IPlayerEntityService PlayerEntityService
@inject NavigationManager Navigation

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1>@_pageTitle</h1>

<EditForm Model="@_newPlayerEntity" OnSubmit="@Add" Context="newPlayerEntity">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-3">
		<label for="addName" class="form-label">Name</label>
		<InputText class="form-control" id="addName" @bind-Value="_newPlayerEntity.Name" />
	</div>

	<div class="mb-3">
		<label for="addTags" class="form-label">Position</label>
		<InputSelect class="form-select" @bind-Value="_newPlayerEntity.Position">
			@foreach (string option in Enum.GetNames(typeof(Enums.PlayerPosition)))
			{
				<option value="@option">@option</option>
			}
		</InputSelect>
	</div>

	<div class="mb-3">
		<label class="form-label">Admin Rating</label>
		<InputNumber class="form-control" id="addAdminRating" @bind-Value="_newPlayerEntity.AdminRating" />
	</div>

	<div class="mb-3">
		<label for="addDefaultRate" class="form-label">Default Rate</label>
		<div class="input-group">
			<span class="input-group-text">£</span>
			<InputNumber type="number" min="0" class="form-control" id="addDefaultRate" @bind-Value="_newPlayerEntity.DefaultRate" />
		</div>
		<div class="form-text">Default rate per game. Usually £3 or £4.</div>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add Player</button>
	</div>
</EditForm>

@code {
	private PlayerEntity _newPlayerEntity = new();

	private readonly string _pageTitle = "Add Player";

	protected override void OnInitialized()
	{
		RefreshData();
	}

	private async Task Add()
	{
		await PlayerEntityService.UpsertPlayerEntityAsync(_newPlayerEntity);
		Navigation.NavigateTo("/players");
	}

	private void RefreshData()
	{
		_newPlayerEntity.DefaultRate = 3;
	}
}