@page "/playerstochase"
@inject IPlayerService PlayerService
@inject IGameService GameService

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-user me-2"></i> @_pageTitle</h1>

<h2>Recent Games</h2>

<InputSelect class="form-select" @bind-Value="_selectedGameRowKey" @bind-Value:after="GameSelected">
    <option value="">Select Game ...</option>
    @foreach (var game in _recentGames)
    {
        <option value="@game.RowKey">
            <EntityTitleLink EntityType="Enums.EntityType.GameEntity" RowKey="@game.RowKey" Link="false" />
        </option>
    }
</InputSelect>

<p>@_selectedGameRowKey</p>

<h2>Recent Players</h2>
@foreach (var rp in _recentPlayers)
{
    <p>@rp.Item1.Name has played @rp.Item2 times.</p>
}


@code {
    [CascadingParameter] public MainLayout MainLayout { get; set; } = default!;
    private string _pageTitle = default!;
    private List<GameEntity> _recentGames = default!;
    private string _selectedGameRowKey = default!;
    private List<(PlayerEntity, int)> _recentPlayers = default!;

    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void GameSelected()
    {

    }
    
    private void RefreshData()
    {
        var startDate = DateTime.UtcNow.Subtract(new TimeSpan(30, 0, 0, 0));
        _recentPlayers = PlayerService.GetRecentPlayerEntities(startDate, DateTime.UtcNow);
        
        //TO DO: Make this match the date span above
        _recentGames = GameService.GetGameEntities()
            .OrderByDescending(g => g.Date)
            .Take(2)
            .ToList();
        
        // Set next game as default
        var nextGameEntity = GameService.GetNextGameEntity();
        _selectedGameRowKey = nextGameEntity.RowKey;
        GameSelected();
        
        _pageTitle = "Players to chase";
        MainLayout.SetPageTitle(_pageTitle);
    }

}