@page "/players"
@inject IPlayerService PlayerService

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-solid fa-user me-2"></i> @pageTitle</h1>

<p>@players.Count players registered.</p>

<div>
    <a class="btn btn-primary me-3 mb-3" href="/players/add"><i class="fa-solid fa-plus"></i> Add Player</a>
</div>

<table class="table striped-columns table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-lg-table-cell">Position</th>
            <th scope="col" class="d-none d-lg-table-cell">Rate</th>
            <th scope="col" class="d-none d-lg-table-cell">Admin Rating</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in players)
        {
            <tr>
                <td><a href="/players/@player.PlayerEntity.RowKey/player">@player.PlayerEntity.Name</a></td>
                <td class="d-none d-lg-table-cell">@player.PlayerEntity.Position</td>
                <td class="d-none d-lg-table-cell"><CurrencyDisplay Amount="@player.PlayerEntity.DefaultRate" BlackText="true" /></td>
                <AuthorizeView Policy="IsAdminEmail">
                    <Authorized>
                        <td class="d-none d-lg-table-cell">@player.PlayerEntity.AdminRating</td>
                        <td><CurrencyDisplay Amount="@player.Balance" /></td>
                    </Authorized>
                    <NotAuthorized>
                        <td class="d-none d-lg-table-cell"><i class="fa-solid fa-key grey"></i></td>
                        <td class="d-none d-lg-table-cell"><i class="fa-solid fa-key grey"></i></td>
                    </NotAuthorized>
                </AuthorizeView>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Player> players = new();

    private string pageTitle = default!;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        players = await PlayerService.GetPlayers();
        pageTitle = "Players";
    }
}