@page "/ratings"
@inject IRatingEntityService RatingEntityService

<PageTitle>TNF - @pageTitle</PageTitle>

<h1><i class="fa-regular fa-star me-2"></i> @pageTitle</h1>

<AuthorizeView Policy="IsAdminEmail">
	<Authorized>
		<div>
			<a class="btn btn-primary me-3 mb-3" href="/ratings/add"><i class="fa-solid fa-plus"></i> Add Rating</a>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Timestamp</th>
					<th scope="col"><button class="btn btn-link m-0 p-0" @onclick="() => Sort(Enums.SortRatingsBy.Player)">Player</button></th>
					<th scope="col"><button class="btn btn-link m-0 p-0" @onclick="() => Sort(Enums.SortRatingsBy.Game)">Game</button></th>
					<th scope="col"><button class="btn btn-link m-0 p-0" @onclick="() => Sort(Enums.SortRatingsBy.Rating)">Rating</button></th>
					<th scope="col" class="d-none d-lg-table-cell">Notes</th>
				</tr>
			</thead>
			<tbody>
				@foreach (RatingEntity re in pageOfRatingEntities)
				{
					@if (re is not null)
					{
						<tr>
							<td><a href="/ratings/@re.RowKey">@RatingEntityService.FormatRatingTime(re.RowKey)</a></td>
							<td><PlayerName Link="true" PlayerRowKey="@re.PlayerRowKey" /></td>
							<td><GameEntityTitle GameRowKey="@re.GameRowKey" Link="true" /></td>
							<td>@re.Rating</td>
							<td class="d-none d-lg-table-cell">@re.Notes</td>
						</tr>
					}
				}
			</tbody>
		</table>

		<nav aria-label="Page navigation">
			<ul class="pagination">
				@for (int p = 1; p <= pages; p++)
				{
					var thisPage = p;
					var css = (currentPageNumber == p) ? "page-item active" : "page-item";
					<li class="@css"><a class="page-link" @onclick="@(e => ChangePage(thisPage))">@p</a></li>
				}
			</ul>
		</nav>

		<p>@ratingEntities.Count ratings. @ratingsPerPage per page.</p>
	</Authorized>
	<NotAuthorized>
		<h4>Access Denied!</h4>
		<a class="btn btn-primary" href="authentication/login"><i class="fa-solid fa-key me-2"></i> Log in</a>
	</NotAuthorized>
</AuthorizeView>

@code {
	private List<RatingEntity> ratingEntities = new();

	private List<RatingEntity> pageOfRatingEntities = new();

	private int ratingsPerPage = 40;

	private int currentPageNumber = 1;

	private int pages = default!;

	private Enums.SortRatingsBy currentSortBy = default!;

	private string pageTitle = default!;

	protected override void OnInitialized()
	{
		RefreshData();
	}

	private void Sort(Enums.SortRatingsBy by)
	{
		switch (by)
		{
			case Enums.SortRatingsBy.Game:
				ratingEntities = (currentSortBy == by) ?
					ratingEntities.OrderByDescending(o => o.GameRowKey).ToList() :
					ratingEntities.OrderBy(o => o.GameRowKey).ToList();
				break;
			case Enums.SortRatingsBy.Rating:
				ratingEntities = (currentSortBy == by) ?
					ratingEntities.OrderByDescending(o => o.Rating).ToList() :
					ratingEntities.OrderBy(o => o.Rating).ToList();
				break;
			case Enums.SortRatingsBy.Player:
				ratingEntities = (currentSortBy == by) ?
					ratingEntities.OrderByDescending(o => o.PlayerRowKey).ToList() :
					ratingEntities.OrderBy(o => o.PlayerRowKey).ToList();
				break;
			default:
				ratingEntities = ratingEntities.OrderBy(o => o.Timestamp).ToList();
				break;
		}

		currentSortBy = by;
	}

	private void ChangePage(int page)
	{
		currentPageNumber = page;
		pageOfRatingEntities = ratingEntities.Skip((page - 1) * ratingsPerPage).Take(ratingsPerPage).ToList();
	}

	private void RefreshData()
	{
		ratingEntities = RatingEntityService.GetRatingEntities();
		pageTitle = "Ratings";

		// Setup paging
		pageOfRatingEntities = ratingEntities.Take(ratingsPerPage).ToList();
		var pagesDec = (double)ratingEntities.Count / (double)ratingsPerPage;
		pages = Convert.ToInt16(Math.Ceiling(pagesDec));
		currentPageNumber = 1;
	}
}