@page "/transactions/add"
@inject ITransactionEntityService TransactionEntityService
@inject IPlayerService PlayerService
@inject IGameEntityService GameEntityService
@inject NavigationManager Navigation


<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-coins me-2"></i> @_pageTitle</h1>

<AuthorizeView Policy="IsAdminEmail">
	<Authorized>
		<EditForm Model="@_newTransactionEntity" OnValidSubmit="Add" Context="newTransactionEntity">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="mb-3">
				<label for="addPlayerRowKey" class="form-label">Player</label>
				<InputSelect class="form-select" @bind-Value="_newTransactionEntity.PlayerRowKey">
					<option value="">Select Player ...</option>
					@foreach (var p in _players)
					{
						<option value="@p.Id">@p.Name</option>
					}
				</InputSelect>
			</div>


			<div class="mb-3">
				<label for="addGameRowKey" class="form-label">Game</label>
				<InputSelect class="form-select" @bind-Value="_newTransactionEntity.GameRowKey">
					<option value="">Select Game ...</option>
					@foreach (var ge in _gameEntities)
					{
						<option value="@ge.RowKey">@ge.UrlSegment</option>
					}
				</InputSelect>
			</div>

			<div class="mb-3">
				<label for="addDate" class="form-label">Date</label>
				<InputDate class="form-control" id="addDate" @bind-Value="_newTransactionEntity.Date" />
			</div>

			<div class="mb-3">
				<label for="addNotes" class="form-label">Notes</label>
				<InputText class="form-control" id="addNotes" @bind-Value="_newTransactionEntity.Notes" />
			</div>

			<div class="mb-3">
				<label for="addAmount" class="form-label">Amount</label>
				<div class="input-group">
					<span class="input-group-text">£</span>
					<InputNumber type="number" class="form-control" id="addAmount" @bind-Value="_newTransactionEntity.Amount" />
				</div>
				<div class="form-text">Positive for payments, negative to pay for a played game.</div>
			</div>

			<div class="hstack gap-2">
				<button type="submit" class="btn btn-secondary"><i class="fa-solid fa-plus"></i> Add Transaction</button>
			</div>
		</EditForm>
	</Authorized>
	<NotAuthorized>
		<h4>Access Denied!</h4>
		<a class="btn btn-secondary" href="authentication/login"><i class="fa-solid fa-key me-2"></i> Log in</a>
	</NotAuthorized>
</AuthorizeView>


@code {
	[CascadingParameter] public MainLayout MainLayout { get; set; } = default!;
	private List<Player> _players = [];
	private List<GameEntity> _gameEntities = [];

	private TransactionEntity _newTransactionEntity = new();

	private string _pageTitle = default!;

	protected override void OnInitialized()
	{
		RefreshData();
	}

	protected async Task Add()
	{
		await TransactionEntityService.UpsertTransactionEntityAsync(_newTransactionEntity);
		Navigation.NavigateTo("/transactions");
	}

	private void RefreshData()
	{
		_newTransactionEntity = new TransactionEntity();
		_players = PlayerService.GetPlayers();
		_gameEntities = GameEntityService.GetGameEntities();
		_pageTitle = "Add Transaction";
		MainLayout.SetPageTitle(_pageTitle);
	}
}