@page "/transactions"
@inject ITransactionService TransactionService

<PageTitle>TNF - @_pageTitle</PageTitle>

<h1><i class="fa-solid fa-coins me-2"></i> @_pageTitle</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col"><button class="btn btn-link m-0 p-0" @onclick="() => SortTransactions(Enums.SortTransactionsBy.Date)">Date</button></th>
			<th scope="col"><button class="btn btn-link m-0 p-0" @onclick="() => SortTransactions(Enums.SortTransactionsBy.Amount)">Amount</button></th>
			<th scope="col" class="d-none d-lg-table-cell"><button class="btn btn-link m-0 p-0" @onclick="() => SortTransactions(Enums.SortTransactionsBy.Player)">Player</button></th>
			<th scope="col" class="d-none d-lg-table-cell">Notes</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var te in _pageOfTransactionEntities)
		{
			<tr>
				<td><a href="/transactions/@te.UrlSegment">@te.Date.ToString("dd MMM yyyy HH:mm")</a></td>
				<td><CurrencyDisplay Amount="@te.Amount" /></td>
				<td class="d-none d-lg-table-cell"><PlayerName Link="true" PlayerRowKey="@te.PlayerRowKey" /></td>
				<td class="d-none d-lg-table-cell">@te.Notes</td>
			</tr>
		}
	</tbody>
</table>

<nav aria-label="Page navigation">
	<ul class="pagination">
		@for (var p = 1; p <= _pages; p++)
		{
			var thisPage = p;
			var css = (_currentPageNumber == p) ? "page-item active" : "page-item";
			<li class="@css"><button class="btn btn-outline-secondary btn-sm me-2 mb-2" @onclick="@(e => ChangePage(thisPage))">@p</button></li>
		}
	</ul>
</nav>

<p>@_transactionEntities.Count transactions. @_transactionsPerPage per page.</p>


@code {
	[CascadingParameter] public MainLayout MainLayout { get; set; } = default!;
	private List<TransactionEntity> _transactionEntities = [];

	private List<TransactionEntity> _pageOfTransactionEntities = [];

	private readonly int _transactionsPerPage = 40;

	private int _currentPageNumber = 1;

	private int _pages = default!;

	private Enums.SortTransactionsBy _currentSortBy = default!;

	private string _pageTitle = default!;

	protected override void OnInitialized()
	{
		RefreshData();
	}

	private void SortTransactions(Enums.SortTransactionsBy by)
	{
		switch (by)
		{
			case Enums.SortTransactionsBy.Date:
				_transactionEntities = (_currentSortBy == by) ?
					_transactionEntities.OrderByDescending(o => o.Date.Date).ToList() :
					_transactionEntities.OrderBy(o => o.Date.Date).ToList();
				break;
			case Enums.SortTransactionsBy.Amount:
				_transactionEntities = (_currentSortBy == by) ?
					_transactionEntities.OrderByDescending(o => o.Amount).ToList() :
					_transactionEntities.OrderBy(o => o.Amount).ToList();
				break;
			case Enums.SortTransactionsBy.Player:
				_transactionEntities = (_currentSortBy == by) ?
					_transactionEntities.OrderByDescending(o => o.PlayerRowKey).ToList() :
					_transactionEntities.OrderBy(o => o.PlayerRowKey).ToList();
				break;
			default:
				_transactionEntities = _transactionEntities.OrderByDescending(o => o.Date.Date).ToList();
				break;
		}

		_currentSortBy = by;
		SetupPages();
	}

	private void ChangePage(int page)
	{
		_currentPageNumber = page;
		_pageOfTransactionEntities = _transactionEntities.Skip((page - 1) * _transactionsPerPage).Take(_transactionsPerPage).ToList();
	}
	
	private void SetupPages()
	{
		_pageOfTransactionEntities = _transactionEntities.Take(_transactionsPerPage).ToList();
		var pagesDec = (double)_transactionEntities.Count / (double)_transactionsPerPage;
		_pages = Convert.ToInt16(Math.Ceiling(pagesDec));
		_currentPageNumber = 1;
	}

	private void RefreshData()
	{
		_transactionEntities = TransactionService.GetTransactionEntities().OrderByDescending(o => o.Date.Date).ToList();
		_pageTitle = "Transactions";
		MainLayout.SetPageTitle(_pageTitle);
		SetupPages();
	}
}